.scroller {
    max-width: 400px;   /* Must have a max-width */
    max-height: 5em;
    outline: 3px solid lime;
}
.scroller__inner {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-inline: 0;
    padding-block: 1rem;
    flex-wrap: wrap;
}
.scroller-item {
    background-color: rgb(43, 58, 73);
    padding: 0.3rem;
    border-radius: 0.356rem;
    box-shadow: 0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.6);
}

.scroller[data-animated='true'] {
    overflow: hidden;
    -webkit-mask: 
        linear-gradient(
            90deg, 
            transparent, white 20%,
            white 80%, transparent
        );
    mask: linear-gradient(
        90deg, 
        transparent, white 20%,
        white 80%, transparent);
}

.scroller[data-animated='true'] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: 
        infiniteScroll 
        var(--_animation-duration, 40s) 
        var(--_animation-direction, forwards)
        linear 
        infinite;
}
.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}
.scroller[data-speed="slow"] {
    --_animation-duration: 100s;
}
.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}
.scroller[data-direction="slow"] {
    --_animation-direction: forwards;
}

@keyframes infiniteScroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}
