.scroller {
    max-width: 400px;   /* Must have a max-width */
    outline: 3px solid lime;
}
.scroller__inner {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-inline: 0;
    padding-block: 1rem;
    flex-wrap: wrap;
}

.scroller[data-animated=true] {
    overflow: hidden;
    -webkit-mask: 
        linear-gradient(
            90deg, 
            transparent, white 20%,
            white 80%, transparent
        );
    mask: linear-gradient(90deg, transparent, white);
}

.scroller[data-animated=true] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: 
        scroll 
        var(--_animation-duration, 40s) 
        var(--_animation-direction, forwards)
        linear 
        infinite;
}
/* .scroller[data] */

@keyframes scroll {
    to {
        transform: translate(-100%);
    }
}



li {
    background-color: slategray;
    padding: 0.3rem;
    border-radius: 0.356rem;

}